{%- if page.layout == "post-list"-%}
    <link href="{{ site.baseurl }}/assets/css/blog.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
{% endif -%}

{%- if page.layout == "post"-%}
    <link href="{{ site.baseurl }}/assets/css/main-post.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/nav-media.css" rel="stylesheet">
{% endif -%}


{%- if site.data.conf.posts.post_table_of_contents and page.layout == "post"-%}
    <link href="{{ site.baseurl }}/assets/css/bootstrap-toc.min.css" rel="stylesheet">
{% endif -%}










